<div ng-Controller="chatcontroller">
<center>

<h3 style="font-color:white;"><b>Chat</b></h3>
	<form ng-submit="addMessage()" name="chatMsg">

	<input type="text" ng-model="message" style="background-color:#8ea7bd;"/><br><br>
	
	<button ng-disabled=" message.length>140 ||message.length==0">Send</button><br>
	
	</form></center>

	<p ng-repeat="message in messages|orderBy:'time':true">
		
		<time>{{message.time | date: 'HH:mm'}}</time>
		<span> {{message.message}}</span>
	</p>
</div>
