<html>
<head>
<style>
td.tdset
{
background-color:#f2dede;
    font-weight: bold;
}
}
</style>
</head>
<body "style=background-color:#9bd483;">
<center>Blog Page</center>

<div ng-controller="blogcontroller">

<form id="blogform" method="post">
<center><table class="table: "style=width:90px;">
	<tr>
		<td class="tdset">Blog Name</td>
		<td class="tdset"><input type="text" name="blogName" ng-model="blog.blogName"/></td>
	</tr>
	<tr>
		<td class="tdset">Blog Content</td>
		<td class="tdset"><textarea name="blogContent" ng-model="blog.blogContent"></textarea></td>
	</tr>
	
</table></center>

<div><center><input type="submit" value="Add Blog" ng-click="addblog()"/></center></div><br><br>
</form>
<table class="table table-hover">
  <thead>
    <tr>
     
      <th scope="col">Blog Name</th>
      <th scope="col">Blog Content</th>
      <th scope="col">Likes</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="blog in blogdata">
      <td class="tdset">{{blog.blogName}}</td>
      <td class="tdset">{{blog.blogContent}}</td>
       <td class="tdset">{{blog.likes}}</td>
       <td class="tdset"><input type="button" value="Like" ng-click="like(blog.blogId)"/></td>
       <td class="tdset"><input type="button" value="Edit" ng-click="edit(blog.blogId)"/></td>
       <td class="tdset"><input type="button" value="Delete" ng-click="delete(blog.blogId)"/></td> 
    </tr>
  </tbody>
</table>
</div>
</body>
</html>