<center>Blog Page</center>

<div ng-controller="blogcontroller">

<form id="blogform" method="post">
<table align="center" width="80%" border="1">
	<tr>
		<td>Blog Name</td>
		<td><input type="text" name="blogName" ng-model="blog.blogName"/></td>
	</tr>
	<tr>
		<td>Blog Content</td>
		<td><textarea cols="30" row="10" name="blogContent" ng-model="blog.blogContent"></textarea></td>
	</tr>
	<tr>
		<td colspan="2"><center><input type="submit" value="Add Blog" ng-click="addBlog()"/></center></td>
	</tr>
</table>
</form>
<table width="100%">
	<tr bgcolor="blue"> 
		<td> Blog Name </td>
		<td> Blog Content </td>
	</tr>
	<tr bgcolor="cyan" ng-repeat="blog in blogdata">
		<td><a href="BlogPage">{{blog.blogName}}</a></td>
		<td>{{blog.blogContent}}</td>	
	</tr>
</table>



</div>
